body {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    background-color: #a1d449;
}

header {
	display: flex;
	width: 75%;
	flex-direction: column;
	margin: 20px 0px 20px 0px;
}

main {
    display: flex;
    width: 75%;
    flex-direction: column;
}

h1 {
	background-color: white;
	padding: 20px;
}